In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as sts
import numpy as np
import os

In [2]:
df1 = pd.read_csv("../Consolidated State_NAISC Sector 2008-2017.csv")
print(df1)

        FIPS STATE CODE STATE DESCRIPTION NAICS CODE  \
0                     1           Alabama         11
1                     1           Alabama         11
2                     1           Alabama         11
3                     1           Alabama         11
4                     1           Alabama         11
...                 ...               ...        ...
108085               56           Wyoming      48-49
108086               56           Wyoming      48-49
108087               56           Wyoming      48-49
108088               56           Wyoming      48-49
108089               56           Wyoming      48-49

                                 NAICS DESCRIPTION ENTERPRISE EMPLOYMENT SIZE  \
0       Agriculture, forestry, fishing and hunting                 1:   Total
1       Agriculture, forestry, fishing and hunting                   2:   0-4
2       Agriculture, forestry, fishing and hunting                   3:   5-9
3       Agriculture, forestry, fishing and hunting                 4:   10-19
4       Agriculture, forestry, fishing and hunting                   5:   <20
...                                            ...                        ...
108085              Transportation and warehousing                   05:  <20
108086              Transportation and warehousing                 06:  20-99
108087              Transportation and warehousing               07:  100-499
108088              Transportation and warehousing                  08:  <500
108089              Transportation and warehousing                  09:  500+

        NUMBER OF FIRMS  NUMBER OF ESTABLISHMENTS  EMPLOYMENT  \
0                   870                       890        6428
1                   433                       433         867
2                   259                       259        1708
3                   112                       112        1468
4                   804                       804        4043
...                 ...                       ...         ...
108085              603                       603        1912
108086               49                        55        1320
108087               24                        53        1053
108088              676                       711        4285
108089               66                       228        5407

       EMPLOYMENT RANGE FLAG EMPLOYMENT NOISE FLAG  ANNUAL PAYROLL ($1,000)  \
0                        NaN                     G                   208455
1                        NaN                     G                    25451
2                        NaN                     G                    48440
3                        NaN                     G                    47620
4                        NaN                     G                   121511
...                      ...                   ...                      ...
108085                   NaN                     G                    86046
108086                   NaN                     G                    72303
108087                   NaN                     H                    61728
108088                   NaN                     G                   220077
108089                   NaN                     G                   295589

       ANNUAL PAYROLL NOISE FLAG  YEAR ENTERPRISE EMPLOYMENT SIZE 2  \
0                              G  2008                        Total
1                              G  2008                          0-4
2                              G  2008                          5-9
3                              G  2008                        10-19
4                              G  2008                          <20
...                          ...   ...                          ...
108085                         G  2017                          <20
108086                         G  2017                        20-99
108087                         H  2017                      100-499
108088                         G  2017                         <500
108089                         G  2017                         500+

                        Source_Name
0       state_naicssector_2008.xlsx
1       state_naicssector_2008.xlsx
2       state_naicssector_2008.xlsx
3       state_naicssector_2008.xlsx
4       state_naicssector_2008.xlsx
...                             ...
108085  state_naicssector_2017.xlsx
108086  state_naicssector_2017.xlsx
108087  state_naicssector_2017.xlsx
108088  state_naicssector_2017.xlsx
108089  state_naicssector_2017.xlsx

[108090 rows x 15 columns]

In [3]:
df2 = df1.drop(columns=['FIPS STATE CODE', 'NUMBER OF FIRMS', 'NUMBER OF ESTABLISHMENTS',
                'EMPLOYMENT RANGE FLAG', 'EMPLOYMENT NOISE FLAG', 'ANNUAL PAYROLL NOISE FLAG', 
                'ENTERPRISE EMPLOYMENT SIZE 2', 'Source_Name'])

In [4]:
print(df2)

       STATE DESCRIPTION NAICS CODE  \
0                Alabama         11
1                Alabama         11
2                Alabama         11
3                Alabama         11
4                Alabama         11
...                  ...        ...
108085           Wyoming      48-49
108086           Wyoming      48-49
108087           Wyoming      48-49
108088           Wyoming      48-49
108089           Wyoming      48-49

                                 NAICS DESCRIPTION ENTERPRISE EMPLOYMENT SIZE  \
0       Agriculture, forestry, fishing and hunting                 1:   Total
1       Agriculture, forestry, fishing and hunting                   2:   0-4
2       Agriculture, forestry, fishing and hunting                   3:   5-9
3       Agriculture, forestry, fishing and hunting                 4:   10-19
4       Agriculture, forestry, fishing and hunting                   5:   <20
...                                            ...                        ...
108085              Transportation and warehousing                   05:  <20
108086              Transportation and warehousing                 06:  20-99
108087              Transportation and warehousing               07:  100-499
108088              Transportation and warehousing                  08:  <500
108089              Transportation and warehousing                  09:  500+

        EMPLOYMENT  ANNUAL PAYROLL ($1,000)  YEAR
0             6428                   208455  2008
1              867                    25451  2008
2             1708                    48440  2008
3             1468                    47620  2008
4             4043                   121511  2008
...            ...                      ...   ...
108085        1912                    86046  2017
108086        1320                    72303  2017
108087        1053                    61728  2017
108088        4285                   220077  2017
108089        5407                   295589  2017

[108090 rows x 7 columns]

In [5]:
only_500 = df2.loc[(df2['ENTERPRISE EMPLOYMENT SIZE'] == '8:   <500') | (df2['ENTERPRISE EMPLOYMENT SIZE'] == '9:   500+')]

In [6]:
print(only_500)

      STATE DESCRIPTION NAICS CODE  \
7               Alabama         11
8               Alabama         11
16              Alabama         21
17              Alabama         21
25              Alabama         22
...                 ...        ...
37767           Wyoming      31-33
37775           Wyoming      44-45
37776           Wyoming      44-45
37784           Wyoming      48-49
37785           Wyoming      48-49

                                   NAICS DESCRIPTION  \
7         Agriculture, forestry, fishing and hunting
8         Agriculture, forestry, fishing and hunting
16     Mining, quarrying, and oil and gas extraction
17     Mining, quarrying, and oil and gas extraction
25                                         Utilities
...                                              ...
37767                                  Manufacturing
37775                                   Retail trade
37776                                   Retail trade
37784                 Transportation and warehousing
37785                 Transportation and warehousing

      ENTERPRISE EMPLOYMENT SIZE  EMPLOYMENT  ANNUAL PAYROLL ($1,000)  YEAR
7                      8:   <500        6077                   189340  2008
8                      9:   500+         351                    19115  2008
16                     8:   <500        2928                   149140  2008
17                     9:   500+        4744                   327408  2008
25                     8:   <500        1891                   102295  2008
...                          ...         ...                      ...   ...
37767                  9:   500+        4772                   337064  2011
37775                  8:   <500       15427                   424144  2011
37776                  9:   500+       14673                   342873  2011
37784                  8:   <500        4965                   242120  2011
37785                  9:   500+        5146                   268267  2011

[8340 rows x 7 columns]

In [7]:
updated_500 = only_500[only_500['NAICS DESCRIPTION'] != 'Total']

In [8]:
print(updated_500)

      STATE DESCRIPTION NAICS CODE  \
7               Alabama         11
8               Alabama         11
16              Alabama         21
17              Alabama         21
25              Alabama         22
...                 ...        ...
37767           Wyoming      31-33
37775           Wyoming      44-45
37776           Wyoming      44-45
37784           Wyoming      48-49
37785           Wyoming      48-49

                                   NAICS DESCRIPTION  \
7         Agriculture, forestry, fishing and hunting
8         Agriculture, forestry, fishing and hunting
16     Mining, quarrying, and oil and gas extraction
17     Mining, quarrying, and oil and gas extraction
25                                         Utilities
...                                              ...
37767                                  Manufacturing
37775                                   Retail trade
37776                                   Retail trade
37784                 Transportation and warehousing
37785                 Transportation and warehousing

      ENTERPRISE EMPLOYMENT SIZE  EMPLOYMENT  ANNUAL PAYROLL ($1,000)  YEAR
7                      8:   <500        6077                   189340  2008
8                      9:   500+         351                    19115  2008
16                     8:   <500        2928                   149140  2008
17                     9:   500+        4744                   327408  2008
25                     8:   <500        1891                   102295  2008
...                          ...         ...                      ...   ...
37767                  9:   500+        4772                   337064  2011
37775                  8:   <500       15427                   424144  2011
37776                  9:   500+       14673                   342873  2011
37784                  8:   <500        4965                   242120  2011
37785                  9:   500+        5146                   268267  2011

[7932 rows x 7 columns]

In [10]:
updated_500.to_csv(r'../clean_consolidated_state.csv', index = False)