In [1]:
import matplotlib.pyplot as plt
import requests
import pandas as pd

import scipy.stats as st
import numpy as np
from citipy import citipy
import time
import json
from pprint import pprint

In C:\Users\zorta\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\zorta\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\zorta\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\zorta\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\zorta\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\zorta\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\zorta\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\zorta\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [4]:
small_business_path = "data/small_business_data.csv"
large_business_path = "data/large_business_data.csv"


# Read the mouse data and the study results
small_business = pd.read_csv(small_business_path)
large_business = pd.read_csv(large_business_path)

In [8]:
merge = pd.merge(small_business,large_business,  how='left', left_on=['YEAR','STATE DESCRIPTION','INDUSTRY'], right_on = ['YEAR','STATE DESCRIPTION','INDUSTRY'])
merge.head(10)

,YEAR,STATE DESCRIPTION,STATE _CODE_x,NAICS_CODE_x,INDUSTRY,ENTERPRISE_EMPLOYMENT_SIZE_x,NUMBER_OF_FILMS_SMALL,NUMBER_OF_ESTABLISHMENTS_SMALL,EMPLOYMENT_SMALL,ANNUAL_PAYROLL _SMALL,SALARY_EMP_SMALL,STATE _CODE_y,NAICS_CODE_y,ENTERPRISE_EMPLOYMENT_SIZE_y,NUMBER_OF_FILMS_LARGE,NUMBER_OF_ESTABLISHMENTS_LARGE,EMPLOYMENT_LARGE,ANNUAL_PAYROLL _LARGE,SALARY_EMP_LARGE
0,2012,Alabama,AL,11,"Agriculture, forestry, fishing and hunting",08: <500,758,762,5510,1.858870e+08,33736.29764,AL,11,09: 500+,12.0,23.0,518.0,2.680800e+07,51752.89575
1,2012,Alabama,AL,21,"Mining, quarrying, and oil and gas extraction",08: <500,162,169,2962,1.489730e+08,50294.73329,AL,21,09: 500+,42.0,94.0,6426.0,4.672850e+08,72717.86492
2,2012,Alabama,AL,22,Utilities,08: <500,92,122,2085,1.215530e+08,58298.80096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,Alabama,AL,23,Construction,08: <500,7263,7300,63802,2.568198e+09,40252.62531,AL,23,09: 500+,84.0,181.0,14099.0,7.680970e+08,54478.82829
4,2012,Alabama,AL,42,Wholesale trade,08: <500,3837,4279,44173,2.121872e+09,48035.49680,AL,42,09: 500+,413.0,1143.0,26948.0,1.527077e+09,56667.54490
5,2012,Alabama,AL,51,Information,08: <500,645,686,9137,4.373570e+08,47866.58641,AL,51,09: 500+,108.0,865.0,22633.0,1.251209e+09,55282.50784
6,2012,Alabama,AL,52,Finance and insurance,08: <500,2946,4204,25713,1.212157e+09,47141.79598,AL,52,09: 500+,193.0,3153.0,45200.0,3.167571e+09,70079.00442
7,2012,Alabama,AL,53,Real estate and rental and leasing,08: <500,2782,3119,15798,5.573610e+08,35280.47854,AL,53,09: 500+,93.0,701.0,6891.0,2.661980e+08,38629.80699
8,2012,Alabama,AL,54,"Professional, scientific, and technical services",08: <500,8058,8262,55962,3.314400e+09,59225.90329,AL,54,09: 500+,222.0,876.0,34262.0,2.494813e+09,72815.74339
9,2012,Alabama,AL,55,Management of companies and enterprises,08: <500,263,279,4082,2.464470e+08,60374.08133,AL,55,09: 500+,189.0,330.0,15674.0,1.366884e+09,87207.09455

In [9]:
merge.to_csv("data/new_business_data_chart.csv", index = False)